.container{
    background: linear-gradient(rgba(61, 152, 163, 0.3), rgba(0, 0, 0, 0.5)),
        url("./assets/bg2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center
}